html {
  background-attachment: fixed;
  background-image: url(https://latimesherocomplex.files.wordpress.com/2014/10/la_ca_1021_big_hero_6_141.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

.container {
  align-items: center;
  background-color: rgba(0, 0, 20, 0.65);
  display: flex;
  height: 100%;
  position: absolute;
  width: 100%;
}

.col {
  width: 50%;
  height: 100%;
}

.tiles {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.tile {
  position: relative;
  width: 200px;
  padding-bottom: 200px;
  display: inline-block;
}

.tile_content {
  color: white;
  font-size: 25px;
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  background-color: rgba(238, 238, 238, .33);
  padding: 20px;
}

.tile_content:hover {
  background-color: rgba(238, 238, 238, .50);
}

body {
  font-family: "Open Sans", "Roboto", "Lato", sans-serif;
}

.biography {
  color: #E4F1FE;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#first_line {
  font-size: 24px;
  padding-bottom: 16px;
}

#second_line, #third_line {
  font-size: 18px;
  padding-bottom: 10px;
}

.social_media {
  margin: 5% auto;
  width: 150px;
}

i.fa {
  margin: 0 10px;
}

i.fa:hover {
  transition-duration: 0.3s;
}

#linkedin:hover {
  color: rgb(30, 135, 189);
}

#github:hover {
  color: rgb(51, 51, 51);
}

#angellist:hover {
  color: rgb(152, 152, 152);
}

#profile_picture {
  border: 2px solid #E4F1FE;
  border-radius: 100%;
  display: block;
  height: 200px;
  margin: 0 auto 8%;
  width: 200px;
}

#copyright {
  bottom: 0.75%;
  color: #fff;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 0.5em;
  margin-left: 0.5%;
  position: fixed;
}

/* unvisited link */
a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #22313F;
  transition-duration: 0.2s;
}

@media only screen and (max-width : 480px) {
  /* Smartphone view: 1 tile */
  .tiles {
    /*align-items: center;
    justify-content: center;*/
    position: flex;
    /*align-items: center;*/
  }

  .tile {
    width: 65%;
    padding-bottom: 65%;
    margin: 0 auto;
    /*float: right;*/
    align-items: center;
  }

  .tile_content {
    font-size: 18px;
    padding: 10px;
  }
}

@media only screen and (max-width : 650px) and (min-width : 481px) {
  /* Tablet view: 2 tiles */
  .tile {
    width: 50%;
    padding-bottom: 50%;
  }
}

@media only screen and (max-width : 1050px) and (min-width : 651px) {
  /* Small desktop / iPad view: 3 tiles */
  .tile {
    width: 50%;
    padding-bottom: 50%;
  }
}

@media only screen and (max-width : 1290px) and (min-width : 1051px) {
  /* Medium desktop: 4 tiles */
  .tile {
    width: 25%;
    padding-bottom: 25%;
  }
}
